
<div class="col-md-8 col-xs-12 col-md-offset-2 text-center">
	<h1>Nueva Partida</h1>
	<br>
	<br>
	<div class="col-md-5 text-center">
		<h4>Jugador</h4>
		<p>
		<%= @player.nick_name %>
		</p>
	</div>
	<div class="col-md-2">
		<h3>VS</h3>
	</div>
	<div class="col-md-5 text-center">
		<h4>Oponentes</h4>
		<%= form_tag games_create_match_path, method: :post, class: "col-xs-12" do %>
			<%= select_tag :opponent , options_from_collection_for_select(@opponents, "id", "nick_name"), {:multiple => false, :required => true, :size => 10, :class => "form-control"}%>
			<br>
			<%= radio_button_tag(:type, "single_match") %>
			<%= label_tag(:match, "Partida simple") %>
			<br>
			<%= radio_button_tag(:type, "multiple_match") %>
			<%= label_tag(:multiple_match, "Partida Multiple") %>
			<br>
			<%= submit_tag "Retar", class: "btn btn-success" %>
		<%end%>
	</div>
</div>
