<div class="container">
  <%= form_tag save_results_path , method: 'post' do %>
  <div class="">
    <h3>Jugador</h3>
    <p>
      <%=@player.email%>
    </p>
    <%= radio_button_tag(:winner1, "player") %>
    <br>
    <%= radio_button_tag(:winner2, "player") %>
    <br>
    <%= radio_button_tag(:winner3, "player") %>
    <br>
  </div>
  <div class="">
    <h3>VS</h3>
  </div>
  <div class="">
    <h3>Oponente</h3>
    <p>
      <%=@opponent.email%>
    </p>
    <%= radio_button_tag(:winner1, "opponent") %>
    <br>
    <%= radio_button_tag(:winner2, "opponent") %>
    <br>
    <%= radio_button_tag(:winner3, "opponent") %>
    <br>
  </div>
    <%= submit_tag "Guardar", class: "btn btn-success" %>
  <%end%>
</div>
